@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;200;300;400;500;600;700;800&family=Macondo&family=Poppins:wght@200;300;400;500;600;700;800&family=Sacramento&family=Tsukimi+Rounded:wght@300;400;500;600;700&family=Varela+Round&display=swap');

:root{
    --primary-Color: #22e2a2;
    --secondary-Color: #666666;
    --bg-Theme-Light: #fafafa;
    --bg-Items-Light: #f5f5f5;
    --text-Color-Dark: #505050;
    --text-Color-Light: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Poppins', sans-serif;
}