:root{
    --primary-Color: #00e699;
    --secondary-Color: #999999;
    --bg-Theme: #f5f5f5;
    --bg-Items: #ffffff;
    --bg-Items-Light: #e7e7e7;
    --bg-Items-Dark: #494949;
    --bg-Items-Opacity: rgba(255, 255, 255, 0.9);
    --text-Color-Dark: #404040;
    --text-Color-Medium: #606060;
    --text-Color-Light: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}

::-webkit-scrollbar{
    width: 10px;
    position: absolute;
}
::-webkit-scrollbar-track{
    background: var(--bg-Theme);
}
::-webkit-scrollbar-thumb{
    background: var(--text-Color-Dark);
    border-radius: 12px;
    transition: all 0.3s ease;
}

/* For Add Home Page Button in Header */
.homePageBtn{
    padding: 5px 8px 2px 8px;
    border-radius: 100%;
    color: var(--text-Color-Medium);
    border: none;
    background-color: var(--bg-Items-Light);
    font-size: 1.7rem;
    box-shadow: 0px 0px 5px #dddddd;
}
.homePageBtn:hover{
    transition: 0.3s ease;
    color: var(--bg-Items);
    background-color: var(--bg-Items-Dark);
    box-shadow: 0px 0px 5px var(--bg-Items-Dark);
}

.mainCont{
    /* height: 100vh; */
    /* background-color: #00e699; */
    background-color: var(--bg-Theme);
}
.mainCont .profile{
    width: 100%;
    /* background-color: var(--bg-Items); */
    padding-top: 8vh !important;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.upperProfileArea{
    width: 100%;
    position: relative;
}

.upperProfileArea .profileCoverImage{
    width: 100%;
    height: 30vh;
    background-color: var(--bg-Items-Dark);
    border-radius: 0px 0px 8px 8px;
    padding: 4px 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.profileCoverImage p{
    font-size: 2rem;
    color: var(--text-Color-Light);
    font-family: 'Poppins', sans-serif;
}
.profileCoverImage p span{
    color: var(--primary-Color);
}

.upperProfileArea .profilePictureImage{
    width: 150px;
    height: 150px;
    background-color: #00e699;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 4px solid var(--bg-Items-Dark);
    overflow: hidden;
}
.profilePictureImage img{
    width: 100%;
}


.upperProfileArea .profileContentArea{
    width: 100%;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileContentArea .userProfileName{
    width: 100%;
    padding: 60px 0px;
    text-align: center;
}
.userProfileName h2{
    font-size: 3.8rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.midPostArea{
    width: 55%;
    /* background-color: #00e699; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.midPostArea .posting{
    background-color: var(--bg-Items-Dark);
    padding: 5px 10px;
    border-radius: 8px;
}

.midPostArea .postsArea{
    gap: 20px;
}