@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;200;300;400;500;600;700;800&family=Macondo&family=Poppins:wght@200;300;400;500;600;700;800&family=Sacramento&family=Tsukimi+Rounded:wght@300;400;500;600;700&family=Varela+Round&display=swap');

:root{
    --primary-Color: #00e699;
    --secondary-Color: #999999;
    --bg-Theme: #f5f5f5;
    --bg-Items: #ffffff;
    --bg-Items-Light: #e7e7e7;
    --bg-Items-Dark: #494949;
    --bg-Items-Opacity: rgba(255, 255, 255, 0.9);
    --text-Color-Dark: #404040;
    --text-Color-Medium: #606060;
    --text-Color-Light: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}

::-webkit-scrollbar{
    width: 10px;
    position: absolute;
}
::-webkit-scrollbar-track{
    background: var(--bg-Theme);
}
::-webkit-scrollbar-thumb{
    background: var(--text-Color-Dark);
    border-radius: 12px;
    transition: all 0.3s ease;
}


#header{
    width: 100%;
    height: 8vh;
    background-color: var(--bg-Items-Opacity);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 8px 0px var(--secondary-Color);
}
.head{
    width: 100%;
    height: 100%;
    padding: 0px 20px;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    padding-left: 30px !important;
}
.logo i{
    font-size: 2.4rem;
    margin-bottom: 6px;
    color: var(--primary-Color);
    text-shadow: 1px 1px 3px var(--text-Color-Medium);
}
.logo h2{
    font-family: 'Macondo', cursive;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 3px !important;
    color: var(--text-Color-Medium);
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .searchBar{
    width: 90%;
    height: 70%;
    background-color: var(--bg-Items-Light);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    border: 2px solid var(--bg-Items);
}
.searchBar i{
    font-weight: bold;
    color: var(--primary-Color);
    font-size: 1.6rem;
}
.searchBar .srchInput{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0px 6px;
    background-color: transparent;
    font-size: 1.6rem;
    font-family: 'Varela Round', sans-serif;
    color: var(--text-Color-Dark);
}
.searchBar:has(input:focus){
    border: 2px solid var(--primary-Color);
    background-color: transparent;
}

.account{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 30px !important;
    position: relative;
}
.account button{
    outline: none;
}

.account .notificationBtn{
    padding: 5px 10px 2px 10px;
    border-radius: 100%;
    color: var(--text-Color-Medium);
    border: none;
    background-color: var(--bg-Items-Light);
    font-size: 1.7rem;
    box-shadow: 0px 0px 5px #dddddd;
}
.notificationBtn:hover{
    transition: 0.3s ease;
    color: var(--bg-Items);
    background-color: var(--bg-Items-Dark);
    box-shadow: 0px 0px 5px var(--bg-Items-Dark);
}

.account .profileBtn{
    padding: 0px;
    border-radius: 100px;
    border: none;
    position: relative;
    box-shadow: 0px 0px 5px var(--bg-Items-Light);
}
.profileBtn:hover{
    transition: 0.3s ease;
    box-shadow: 0px 0px 5px var(--secondary-Color);
}
.profileBtn .profileIconImg{
    width: 35px;
    height: 33px;
    border-radius: 100%;
    overflow: hidden;
}
.profileBtn .profileIconImg img{
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.profileBtnDropdown{
    width: 150px;
    position: absolute;
    top: 130%;
    right: -100%;
    background-color: var(--bg-Items-Dark);
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
}
.profileBtnDropdown .accountLink{
    width: 100%;
    padding: 6px 15px;
    color: var(--text-Color-Light);
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    text-decoration: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}
.profileBtnDropdown .accountLink:hover{
    transition: 0.2s;
    background-color: var(--primary-Color);
    color: var(--text-Color-Dark);
}


/* For Dashboard */
.dashboard{
    width: 100%;
    background-color: var(--bg-Theme);
    padding-top: 8vh;
}
.dashboardRow{
    width: 100%;
    /* background-color: #22e2a2; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

/* For Left-Content */
.leftContent{
    height: 92vh;
    max-height: 92vh;
    /* background-color: lightsalmon; */
    padding: 20px 20px !important;
    border-right: 2px solid var(--bg-Items-Dark);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    z-index: 1;
    left: 0px;
    bottom: 0px;
}
.leftContent::-webkit-scrollbar{
    width: 5px;
    position: absolute;
}
.leftContent::-webkit-scrollbar-track{
    background: var(--bg-Theme);
}
.leftContent::-webkit-scrollbar-thumb{
    background: var(--bg-Items-Dark);
    border-radius: 12px;
    transition: all 0.3s ease;
}

/* For Left Content - User Details */
.leftContent .userDetails{
    width: 100%;
    border-radius: 10px;
    background-color: var(--bg-Items);
    position: relative;
    box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.6);
}

.userDetails .userDP{
    width: 100%;
    height: 10vh;
    background-color: var(--bg-Items-Dark);
    border-radius: 10px 10px 0px 0px;
    padding: 2px 15px !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.userDP p{
    font-size: 1.3rem;
    color: var(--text-Color-Light);
    font-family: 'Poppins', sans-serif;
}
.userDP p span{
    color: var(--primary-Color);
}
.userDetails .userProfilePicture{
    width: 80px;
    height: 80px;
    /* background-color: darkcyan; */
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--text-Color-Dark)
}
.userProfilePicture img{
    width: 100%;
    object-fit: cover;
}
.userDetails .aboutUser{
    width: 100%;
    padding: 30px 20px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: relative;
    /* background-color: #00e699; */
}
.aboutUser h2{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.aboutUser h2:first-child{
    color: var(--text-Color-Dark);
    font-size: 1.8rem;
    font-weight: 600;
}
.aboutUser p{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px !important;
    font-family: 'Poppins', sans-serif;
}
.aboutUser .viewProfile{
    border: 2px solid var(--bg-Items-Dark);
    outline: none;
    background-color: var(--bg-Items-Dark);
    color: var(--text-Color-Light);
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 4px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.viewProfile:hover{
    transition: 0.3s;
    background-color: var(--primary-Color);
    color: var(--bg-Items-Dark);
}

/* For left Content - Navigations */
.leftContent .nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.nav .navigations{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px !important;
    background-color: var(--bg-Items-Opacity);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.6);
}
.navigations .navItems{
    width: 100%;
    display: flex;
    /* background-color: darkgoldenrod; */
}
.navigations .navItems .navLinks{
    width: 100%;
    text-decoration: none;
    color: var(--text-Color-Dark);
    /* background-color: darkseagreen; */
    padding: 10px 30px;
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    /* border-radius: 10px; */
}
.navLinks i{
    width: 40px;
    font-size: 2em;
    line-height: 1em !important;
    color: rgba(34, 226, 162, 0.8);
}
.navLinks p{
    font-size: 1.8em;
    padding: 0px !important;
    line-height: 1.6em !important;
}
.navLinks:hover{
    transition: 0.1s;
    border-left: 4px solid var(--primary-Color);
    background-color: rgba(34, 226, 162, 0.2);
}

.createPostBtn{
    width: 80%;
    padding: 5px 0px;
    font-size: 2rem;
    font-family: 'Tsukimi Rounded', sans-serif;
    border: 2px solid var(--primary-Color);
    color: var(--text-Color-Light);
    background-color: var(--primary-Color);
    font-weight: bold;
    border-radius: 100px;
}
.createPostBtn:hover{
    color: var(--text-Color-Dark);
    background-color: transparent;
    transition: 0.3s ease;
}

.logOutBtn{
    width: 80%;
    padding: 5px 0px;
    font-size: 2rem;
    font-family: 'Tsukimi Rounded', sans-serif;
    border: 2px solid var(--primary-Color);
    color: var(--text-Color-Dark);
    background-color: transparent;
    font-weight: bold;
    border-radius: 10px;
}
.logOutBtn:hover{
    color: var(--text-Color-Light);
    background-color: var(--primary-Color);
    transition: 0.3s ease;
}


/* For Middle-Content */
.middleContent{
    min-height: 92vh;
    /* background-color: lightsalmon; */
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

/* For Middle Content - Posting Area */
.middleContent .posting{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-Items-Dark);
    border-radius: 8px;
    padding: 0px 20px;
}
.posting .upperSection{
    height: 8vh;
    /* background-color: darkorange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #888888;
}
.upperSection .userImg{
    width: 6.5%;
    height: 75%;
    /* background-color: lightgreen; */
    border-radius: 100%;
    overflow: hidden;
}
.userImg img{
    width: 100%;
    object-fit: cover;
}
.upperSection .postInputArea{
    width: 90%;
    height: 100%;
    /* background-color: #22e2a2; */
}
.postInputArea input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Varela Round', sans-serif;
    padding: 0px 4px;
    background-color: transparent;
    color: var(--text-Color-Light);
    cursor: pointer;
}
.postInputArea input::placeholder{
    color: #dddddd;
}
.posting .lowerSection{
    /* background-color: darkcyan; */
    padding: 6px 0px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lowerSection .postMediaBtn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 10px;
    font-size: 1.6rem;
    font-family: 'Tsukimi Rounded', sans-serif;
    border: none;
    color: var(--text-Color-Light);
    background-color: transparent;
    font-weight: bold;
    border-radius: 50px;
}
.postMediaBtn:hover{
    transition: 0.3s;
    background-color: rgba(200, 200, 200, 0.4);
}
.fa-image{
    color: rgb(0, 233, 116);
}
.fa-video{
    color: rgb(0, 162, 255);
}
.fa-icons{
    color: rgb(240, 64, 88);
}
.fa-newspaper{
    color: rgb(255, 187, 0);
}


/* For Middle Content - Posts Section */
.middleContent .postsArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    padding: 10px 0px;
    /* background-color: rgba(200, 200, 200, 0.1); */
}
.postsArea .post{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px 0px 0px;
    border-radius: 8px;
    background-color: var(--bg-Items-Opacity);
    position: relative;
}
.post .postSaveOrDeleteBtn{
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2.2rem;
    color: var(--text-Color-Dark);
}
.post .postAuthorDetails{
    width: 100%;
    height: 60px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
}
.postAuthorDetails .authorImage{
    width: 9%;
    /* height: 80%; */
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid var(--bg-Items-Dark);
    /* background-color: lightblue; */
}
.authorImage img{
    width: 100%;
}
.postAuthorDetails .authorDetail{
    width: 90%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    color: var(--text-Color-Dark);
    font-family: 'Poppins', sans-serif;
    /* background-color: lightcoral; */
}
.authorDetail h3{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2px !important;
}
.authorDetail h6{
    font-size: 1.3rem;
    font-weight: 400;
}
.authorDetail p{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--text-Color-Medium);
}

.post .postContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #22e2a2; */
    border-top: 1px solid rgba(200, 200, 200);
}
.postContent .postTextArea{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    color: var(--text-Color-Dark);
    font-family: 'Poppins', sans-serif;
    /* background-color: lightgoldenrodyellow; */
}
.postTextArea .postText{
    font-size: 1.4rem;
}
.postContent .postMedia{
    width: 100%;
    overflow: hidden;
    /* background-color: lightcoral; */
}
.postMedia img{
    width: 100%;
}
.postContent .postInfo{
    width: 100%;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-Color-Dark);
    font-family: 'Poppins', sans-serif;
    /* background-color: lightgoldenrodyellow; */
}
.postInfo .postLikesView{
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.postInfo .postComments_Shares{
    display: flex;
    gap: 10px;
}
.postComments_Shares .postCommentsView{
    font-size: 1.35rem;
    cursor: pointer;
}
.postComments_Shares .postSharesView{
    font-size: 1.35rem;
    cursor: pointer;
}
.postCommentsView:hover, .postSharesView:hover{
    text-decoration: underline;
}
.postContent .likeCommentShareBtns{
    width: 96%;
    padding: 6px 0px;
    display: flex;
    border-top: 1px solid rgba(160, 160, 160);
}
.likeCommentShareBtns .lkCmntShrBtn{
    width: 33.3%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 6px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: var(--text-Color-Medium);
    border-radius: 4px;
    /* background-color: lightcoral; */
}
.lkCmntShrBtn:hover{
    transition: 0.1s;
    background-color: rgb(230, 230, 230);
}

/* For Right Content */
.rightContent{
    height: 92vh;
    max-height: 92vh;
    /* background-color: lightsalmon; */
    padding: 20px 30px !important;
    border-left: 2px solid var(--secondary-Color);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    z-index: 1;
    right: 0px;
    bottom: 0px;
}
.rightContent::-webkit-scrollbar{
    width: 8px;
    position: absolute;
}
.rightContent::-webkit-scrollbar-track{
    background: var(--bg-Items-Light);
}
.rightContent::-webkit-scrollbar-thumb{
    background: var(--text-Color-Dark);
    border-radius: 12px;
    transition: all 0.3s ease;
}

/* For Right Content - Messages Section */
.rightContent .messagesArea{
    width: 100%;
    padding: 10px 12px;
    background-color: var(--bg-Items);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.messagesArea .messageHeading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* background-color: #00e699; */
}
.messageHeading h4{
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}
.messageHeading i{
    font-size: 1.6rem;
}
.messagesArea .searchMessage{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: var(--bg-Items-Dark);
}
.searchMessage i{
    font-size: 1.4rem;
    color: var(--text-Color-Light);
}
.searchMessage input{
    width: 100%;
    border: none;
    outline: none;
    padding: 2px 5px;
    background-color: transparent;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: var(--text-Color-Light);
    /* background-color: #00e699; */
}
.searchMessage input::placeholder{
    color: var(--bg-Items-Light);
}
.searchMessage input::-webkit-search-cancel-button{
    display: none; 
}

.messagesArea .msgs_area{
    width: 100%;
    padding: 15px 0px;
    border-top: 2px solid var(--bg-Items-Dark);
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: darkcyan; */
}
.msgs_area .message{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
    border-radius: 4px;
}
.message:hover{
    transition: 0.2s;
    background-color: var(--bg-Items-Light);
}
.message .msgUserImage{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid var(--text-Color-Dark);
    /* background-color: #00e699; */
}
.msgUserImage img{
    width: 100%;
    /* height: 100%; */
}
.message .msgUserText{
    width: 80%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: lightgreen; */
}
.msgUserText h3{
    font-size: 1.2rem;
    font-weight: 600;
    /* background-color: darkgoldenrod; */
}
.msgUserText p{
    font-size: 1.1rem;
    /* background-color: #00e699; */
}

.rightContent .requestsArea{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.requestsArea .requestHeading{
    width: 100%;
    padding: 5px 0px;
}
.requestHeading h4{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.requestsArea .rqst_Area{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rqst_Area .request{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--bg-Items-Light);
}
.request .requestDetail{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    /* background-color: lightsalmon; */
}
.requestDetail .requestUserImage{
    width: 43px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid var(--text-Color-Dark);
    /* background-color: #00e699; */
}
.requestUserImage img{
    width: 100%;
}
.requestDetail .requestUserText{
    width: 90%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: lightgreen; */
}
.requestUserText h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-Color-Dark);
    /* background-color: darkgoldenrod; */
}
.requestUserText p{
    font-size: 1.2rem;
    color: var(--text-Color-Dark);
    /* background-color: #00e699; */
}

.request .requestButtons{
    width: 100%;
    display: flex;
    padding: 10px 5px 5px 5px;
    /* background-color: #00e699; */
    display: flex;
    justify-content: space-evenly;
}
.requestButtons .rqstBtns{
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 100px;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.requestButtons .acceptBtn{
    color: var(--text-Color-Light);
    background-color: var(--primary-Color);
}
.requestButtons .declineBtn{
    color: var(--text-Color-Light);
    background-color: var(--bg-Items-Dark);
}




/* For Overlay Content */
#overlay{
    /* display: none; */
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(30, 30, 30, 0.9);
    backdrop-filter: blur(2px);
}

/* For Middle Content - Posting Modal -  */
.postingModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 600px;
    /* height: 400px; */
    border-radius: 8px;
    background-color: var(--bg-Items);
    padding: 0px 20px 20px 20px;
}
.postingModal .createPostHeading{
    width: 100%;
    padding: 14px 0px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid var(--bg-Items-Dark);
}
.createPostHeading h2{
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--text-Color-Dark);
}
.createPostHeading .closePostingModalBtn{
    position: absolute;
    right: 0px;
    border: none;
    padding: 0px 9px;
    font-size: 2.2rem;
    border-radius: 100%;
    color: #eeeeee;
    background-color: rgba(100, 100, 100, 0.9);
}

.postingModal .modalPostUser{
    width: 100%;
    /* background-color: lightpink; */
    padding: 5px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.modalPostUser .modalPostUserImage{
    width: 8%;
    height: 44px;
    /* background-color: #22e2a2; */
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid var(--text-Color-Dark);
}
.modalPostUserImage img{
    width: 100%;
}
.modalPostUser .modalPostUserName{
    width: 90%;
    /* background-color: #22e2a2; */
}
.modalPostUserName h3{
    font-size: 1.6rem;
    font-weight: 600;
}
.modalPostUserName p{
    font-size: 1.3rem;
}

.postingModal .modalPostContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    /* background-color: #00e699; */
}
.modalPostContent .postCntnt{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.postCntnt .postTextarea{
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.6rem;
    /* background-color: #00e699; */
}
.postCntnt .selectMediaFile{
    width: 100%;
    max-height: 200px;
    /* background-color: #00e699; */
    overflow: auto;
    position: relative;
}
.selectMediaFile .removeMediaBtn{
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0px 9px;
    font-size: 2.2rem;
    font-weight: bold;
    border-radius: 100%;
    color: var(--text-Color-Dark);
    background-color: var(--bg-Items);
}
.selectMediaFile img{
    width: 100%;
    object-fit: cover;
}

.modalPostContent .addEmoji{
    width: 100%;
    padding: 5px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: lightblue; */
}
.addEmoji .emoji{
    font-size: 2rem;
    cursor: pointer;
}

.postingModal .modalPostAssets{
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #404040;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalPostAssets .addToPostText{
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.modalPostAssets .addToAsset{
    display: flex;
    align-items: center;
    gap: 10px;
}
.addToAsset .addMedia{
    padding: 4px 10px;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addMedia:hover{
    transition: 0.2s;
    background-color: rgba(150, 150, 150, 0.4);
}
.addMedia label{
    width: 100%;
    font-size: 2.2rem;
    cursor: pointer;
}
.bxs-file-gif{
    color: rgb(194, 0, 233);
}
.addMedia input{
    display: none;
}

.postingModal .postingBtn{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 5px 0px;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--text-Color-Dark);
    color: var(--text-Color-Light);
}
.postingBtn:hover{
    transition: 0.2s;
    color: var(--text-Color-Dark);
    background-color: var(--primary-Color);
}




.hide{
    display: none;
}